
.body {

   font-family: '', 'sans-serif';
   font-size: 14px;
   letter-spacing: 0.03em;
   &.modal-open{
      overflow: hidden;
   }
}

img {
   display: block;
   max-width: 100%;
   height: auto;
}

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;

   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
   margin-top: 0;
   margin-bottom: 0;
}

.container {
margin-left: auto;
margin-right: auto;
padding-left: 15px;
padding-right: 15px;
@media screen and (min-width:$mobile) {
   width: $mobile;
}
@media screen and (min-width:$tablet) {
   width: $tablet;
}
@media screen and (min-width:$desktop) {
   width: $desktop;
}
}

.list-style {
   list-style: none;
   padding-left: 0;
   margin: 0;
}

a {
   text-decoration: none;
}